apache-beam==2.54.0 ; python_version >= "3.10" and python_version < "3.11"
attrs==23.2.0 ; python_version >= "3.10" and python_version < "3.11"
certifi==2024.2.2 ; python_version >= "3.10" and python_version < "3.11"
cffi==1.16.0 ; python_version >= "3.10" and python_version < "3.11" and platform_python_implementation == "PyPy"
charset-normalizer==3.3.2 ; python_version >= "3.10" and python_version < "3.11"
cloudpickle==2.2.1 ; python_version >= "3.10" and python_version < "3.11"
crcmod==1.7 ; python_version >= "3.10" and python_version < "3.11"
dill==0.3.1.1 ; python_version >= "3.10" and python_version < "3.11"
dnspython==2.6.1 ; python_version >= "3.10" and python_version < "3.11"
docopt==0.6.2 ; python_version >= "3.10" and python_version < "3.11"
fastavro==1.9.4 ; python_version >= "3.10" and python_version < "3.11"
fasteners==0.19 ; python_version >= "3.10" and python_version < "3.11"
grpcio==1.60.1 ; python_version >= "3.10" and python_version < "3.11"
hdfs==2.7.3 ; python_version >= "3.10" and python_version < "3.11"
httplib2==0.22.0 ; python_version >= "3.10" and python_version < "3.11"
idna==3.6 ; python_version >= "3.10" and python_version < "3.11"
js2py==0.74 ; python_version >= "3.10" and python_version < "3.11"
jsonpickle==3.0.2 ; python_version >= "3.10" and python_version < "3.11"
jsonschema-specifications==2023.12.1 ; python_version >= "3.10" and python_version < "3.11"
jsonschema==4.21.1 ; python_version >= "3.10" and python_version < "3.11"
numpy==1.24.4 ; python_version >= "3.10" and python_version < "3.11"
objsize==0.7.0 ; python_version >= "3.10" and python_version < "3.11"
orjson==3.9.14 ; python_version >= "3.10" and python_version < "3.11"
packaging==23.2 ; python_version >= "3.10" and python_version < "3.11"
proto-plus==1.23.0 ; python_version >= "3.10" and python_version < "3.11"
protobuf==4.25.3 ; python_version >= "3.10" and python_version < "3.11"
pyarrow-hotfix==0.6 ; python_version >= "3.10" and python_version < "3.11"
pyarrow==14.0.2 ; python_version >= "3.10" and python_version < "3.11"
pycparser==2.21 ; python_version >= "3.10" and python_version < "3.11" and platform_python_implementation == "PyPy"
pydot==1.4.2 ; python_version >= "3.10" and python_version < "3.11"
pyjsparser==2.7.1 ; python_version >= "3.10" and python_version < "3.11"
pymongo==4.6.1 ; python_version >= "3.10" and python_version < "3.11"
pyparsing==3.1.1 ; python_version >= "3.10" and python_version < "3.11"
python-dateutil==2.8.2 ; python_version >= "3.10" and python_version < "3.11"
pytz==2024.1 ; python_version >= "3.10" and python_version < "3.11"
referencing==0.33.0 ; python_version >= "3.10" and python_version < "3.11"
regex==2023.12.25 ; python_version >= "3.10" and python_version < "3.11"
requests==2.31.0 ; python_version >= "3.10" and python_version < "3.11"
rpds-py==0.18.0 ; python_version >= "3.10" and python_version < "3.11"
six==1.16.0 ; python_version >= "3.10" and python_version < "3.11"
typing-extensions==4.9.0 ; python_version >= "3.10" and python_version < "3.11"
tzdata==2024.1 ; python_version >= "3.10" and python_version < "3.11" and platform_system == "Windows"
tzlocal==5.2 ; python_version >= "3.10" and python_version < "3.11"
urllib3==2.2.1 ; python_version >= "3.10" and python_version < "3.11"
zstandard==0.22.0 ; python_version >= "3.10" and python_version < "3.11"
